* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    color: #665AA8;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #C3CBDF;
}

h1 {
    color: #443D6C;
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 20px;
}

h2 {
    color: #FC89AE;
}

ul {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0 10px;
}

li {
    font-weight: 700;
    font-size: 14px;
    color: #FC89AE;
}

button {
    border: none;
    background: #FC89AE;
    border-radius: 10px;
    color: white;
    padding: 11px 13px;
    cursor: pointer;
    margin-left: 5px;
}

p {
    font-size: 14px;
    font-weight: 600;
}

.main-cont {
    width: 800px;
    height: 500px;
    background: #FFFFFF;
    border: 10px solid #CBD2E2;
    box-shadow: 2px 10px 5px 5px #A8AAC1;
    border-radius: 30px;
    padding: 30px 25px;
}

.list-cont {
    display: flex;
    align-items: center;
    height: 55px;
    background: #EAECEF;
    border-radius: 15px;
    margin: 20px 0;
    padding: 0 15px;
}

.title {
    width: 200px;
    padding-right: 15px;

    /* hide any overflow */
    overflow: hidden;
    /* show an ellipsis to indicate that there is more text */
    text-overflow: ellipsis;
    /* prevent the text from wrapping to the next line */
    white-space: nowrap;
}

.author,
.pages,
.is-read {
    /* set a fixed width for these columns */
    width: 150px;
}

.fa-trash {
    color: white;
    font-size: 1rem;
}

.fa-pen {
    color: white;
    font-size: 1rem;
}

.fa-book-open {
    padding-right: 5px;
}

/* Close Modal Button */
.fa-times {
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    background-color: #FC89AE;
    border-radius: 50%;
    padding: 5px 9px;
    border: solid 1px #FC89AE;
    transition: transform 0.2s ease-in-out;
}

.fa-times:hover,
.fa-times:focus {
    background-color: white;
    border: solid 1px #FC89AE;
    color: #FC89AE;
    cursor: pointer;
    transform: scale(1.1);
}

/* Open Modal Button */
#open-modal {
    font-weight: 700;
    font-size: 12px;
    color: #FFFFFF;
    background: #665AA8;

    border: solid 1px #665AA8;
    border-radius: 10px;
    width: 95px;
    margin: 0;
    transition: transform 0.2s ease-in-out;
}

#open-modal:hover {
    background-color: white;
    border: solid 1px #665AA8;
    color: #665AA8;
    transform: scale(1.04);
}

/* Add Book Button */
#add-book {
    width: 400px;
    height: 55px;
    background: #665AA8;
    border-radius: 10px;
    border: solid 1px #665AA8;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 15px;
    margin-top: 10px;
    transition: transform 0.2s ease-in-out;
}

#add-book:hover {
    background-color: white;
    border: solid 1px #665AA8;
    color: #665AA8;
    transform: scale(1.01);
}

/* Modal Styles */
.modal {
    /* Hidden by default*/
    display: none;
    /* Stay in place */
    position: fixed;
    /* Sit on top */
    z-index: 1;
    left: 0;
    top: 0;
    /* Full width */
    width: 100%;
    /* Full height */
    height: 100%;
    /* Enable scroll if needed */
    overflow: auto;
    /* Fallback color */
    background-color: rgb(0, 0, 0);
    /* Black with opacity */
    background-color: rgba(76, 75, 112, 0.5);
    ;
}

/* Modal Content */
.modal-content {
    background-color: #FFFFFF;

    /* 15% from the top and centered */
    margin: 9% auto;
    padding: 20px;

    width: 500px;
    height: 482px;
    border: 10px solid #CBD2E2;
    box-shadow: 2px 10px 5px 5px rgba(117, 119, 134, 0.51);
    border-radius: 30px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal-header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 400px;
    margin-bottom: 25px;
}

/* Add Book Form */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    width: 400px;
    height: 55px;
    background: #EAECEF;
    border: none;
    border-radius: 15px;
    margin-bottom: 20px;
    padding-left: 15px;
    font-weight: 600;
    font-size: 20px;
}

input::placeholder {
    font-weight: 600;
    font-size: 20px;
    color: #707495;
    /* padding-left: 15px; */
}

input:focus {
    outline-style: solid;
    outline-width: 1px;
    outline-color: #bcaed6;
}

.checkbox-cont {
    width: 400px;
    display: flex;
    justify-content: space-around;
    font-weight: 600;
    font-size: 20px;
}

label {
    color: #707495;
}

input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    width: 40px;
    height: 22px;
    background: #D9D9D9;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
}

input[type="checkbox"]:checked {
    background: #665AA8;
}

input[type="checkbox"]:before {
    content: "";
    width: 20px;
    height: 20px;
    background: #665AA8;
    border-radius: 20px;
    display: block;
    position: relative;
    top: 1px;
    left: -12px;
    transition: left 0.2s ease-in-out;
}

input[type="checkbox"]:checked:before {
    left: 2px;
    background: #FC89AE;
}